Repository Himenon/react-app-template: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run format, yarn run lint, sort-package-json

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["yarn run format", "yarn run lint", "git add"],
  "package.json": ["sort-package-json", "git add"]
}

style: update format
  .lintstagedrc.json
  commitlint.config.js
  package.json
  public/index.html
Due: sort-package-json

build: add polyfill
  package.json
  scripts/webpack.config.ts
  yarn.lock
Due: yarn run format, yarn run lint, sort-package-json

feat: add primer
  .vscode/settings.json
  package.json
  src/App.tsx
  src/container-component/Page/Container.tsx
  src/container-component/Page/Store.ts
  src/container-component/Page/index.ts
  src/container-component/index.ts
  src/style.scss
  src/view-component/Counter/Counter.tsx
  src/view-component/Counter/counter.scss
  src/view-component/CounterPage/CounterPage.tsx
  src/view-component/Page/Page.tsx
  src/view-component/Page/page.scss
  src/view-component/index.ts
  tsconfig.json
  yarn.lock
Due: yarn run format, yarn run lint, sort-package-json

refactor: rename
  scripts/webpack.config.ts
  src/App.tsx
  src/component/Counter/Counter.tsx
  src/component/Counter/counter.scss
  src/component/Page/Page.tsx
  src/component/Page/page.scss
  src/component/index.ts
  src/container/Counter/Container.tsx
  src/container/Counter/Store.ts
  src/container/Counter/index.ts
  src/container/Page/Container.tsx
  src/container/Page/Store.ts
  src/container/Page/index.ts
  src/container/index.ts
  tsconfig.json
Due: yarn run format, yarn run lint

perf: react,react-domを分離
  package.json
  public/index.html
  scripts/webpack.config.ts
  yarn.lock
Due: yarn run format, yarn run lint, sort-package-json

perf: split scss import
  scripts/webpack.config.ts
Due: yarn run format, yarn run lint

feat: add github action
  .github/workflows/test-and-build.yml
  .lintstagedrc.json
  .prettierignore
  .prettierrc
  package.json
  scripts/webpack.config.ts
Due: yarn run format, yarn run lint, sort-package-json

feat: add dependency-cruiser
  .dependency-cruiser.js
  package.json
  yarn.lock
Due: sort-package-json

feat: add react-router
  package.json
  scripts/develop.ts
  scripts/webpack.config.ts
  src/App.tsx
  src/component/CounterPage/CounterPage.tsx
  src/component/CounterPage/counter_page.scss
  src/component/index.ts
  src/container/Page/Container.tsx
  src/index.tsx
  src/router/index.tsx
  src/style.scss
  src/style/index.ts
  tsconfig.json
  yarn.lock
Due: yarn run format, yarn run lint, sort-package-json

fix: update package.json
  package.json
Due: sort-package-json

feat: update libraries
  package.json
  scripts/build.ts
  scripts/develop.ts
  scripts/tsconfig.cli.json
  scripts/webpack.config.ts
  tsconfig.json
  yarn.lock
Due: yarn run format, yarn run lint, sort-package-json

feat: update libraries
  .eslintrc.js
  .lintstagedrc.json
  package.json
  scripts/build.ts
  scripts/develop.ts
  scripts/webpack.config.ts
  src/style/index.ts
  yarn.lock
Due: yarn run format, yarn run lint, sort-package-json

chore(deps): add renovate.json
  renovate.json
Due: none

chore(deps): update dependency @types/webpack to v4.41.18
  package.json
  yarn.lock
Due: sort-package-json

chore(deps): pin dependencies
  package.json
  yarn.lock
Due: sort-package-json

chore(deps): update dependency @types/webpack to v4.41.20
  package.json
  yarn.lock
Due: sort-package-json

feat: update dependencies
  .gitignore
  LICENSE
  bin/publish.ts
  bin/tsconfig.cli.json
  package.json
  public/index.html
  renovate.json
  scripts/build.ts
  scripts/develop.ts
  src/App.tsx
  src/application.tsx
  src/component/Counter/Counter.tsx
  src/component/Counter/counter.scss
  src/component/CounterPage/CounterPage.tsx
  src/component/CounterPage/counter_page.scss
  src/component/index.ts
  src/container/Counter/Container.tsx
  src/container/Counter/Store.ts
  src/container/Counter/index.ts
  src/container/Page/Container.tsx
  src/container/Page/Store.ts
  src/container/Page/index.ts
  src/container/index.ts
  src/develop.tsx
  src/domain/App/Action.ts
  src/domain/App/Constants.ts
  src/domain/App/Reducer.ts
  src/domain/App/State.ts
  src/domain/App/index.ts
  src/domain/index.ts
  src/index.tsx
  src/infra/LocalStorage/Repository.ts
  src/infra/LocalStorage/__tests__/Repository.test.ts
  src/infra/LocalStorage/types.ts
  src/infra/index.ts
  src/router/index.tsx
  src/style/index.ts
  tsconfig.build.json
  webpack.config.ts
  yarn.lock
Due: yarn run format, yarn run lint, sort-package-json

fix: build
  package.json
  webpack.config.ts
  yarn.lock
Due: yarn run format, yarn run lint, sort-package-json

chore: update renovate.json
  renovate.json
Due: none

feat: update package.json and readme
  README.md
  package.json
  yarn.lock
Due: sort-package-json

fix: react-dom path
  webpack.config.ts
Due: yarn run format, yarn run lint
